@import 'element-variables';
// base color
$blue:#324157;
$light-blue:$--color-primary;
$red:$--color-danger;
$pink: #E65D6E;
$green: $--color-success;
$tiffany: #4AB7BD;
$yellow:$--color-warning;
$panGreen: adjust-hue($--color-success, 0.5);

//sidebar
$menuText: $--color-text-primary;
$menuActiveText:#ecf0f1;
$subMenuActiveText:#ecf0f1; //https://github.com/ElemeFE/element/issues/12951

$menuBg:$--menu-background-color;
$menuHover:$--menu-item-hover-fill;

$subMenuBg:$--menu-background-color;
$subMenuHover:$--menu-item-hover-fill;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
